<%- include ('partials/header') %>


<div class="jumbotron">
  <h1 class="display-4">Vidzy Application</h1>
  <p class="lead">This is the list of most popular videos</p>
  <a class="btn btn-primary btn-lg" href="/videos/new" role="button">
  Add new video</a>
</div>



<div class="container">
	<div class="row">
	<form action="/videos">

		<div class="form-group">
			<label for="genre">Choose a Genre:</label>
			<select id="genre" name="genre">
			  <option value="all">All</option>
			  <option value="drama">Drama</option>
			  <option value="fantasy">Fantasy</option>
			  <option value="scifi">SciFi</option>
			  <option value="suspense">Suspense</option>
			</select> 
			<input id="search" type="text" name="search" placeholder="Type here to Search">
			<button type="submit" class="btn btn-info">Search</button>
		</div>
	</form>
	</div>

	<div class="row">

	<% console.log(videos);
	videos.forEach(function(video){ %>
		<div class="sm-col-3">
			<img src="images/<%= video.image %>" style="width:200px; height:200px;" class="img-thumbnail"/>
			<div class="caption"><a href="videos/<%= video._id %>"><%= video.title %></a></div>
		</div>
	<% }); %>

	</div>
</div>

<%- include ('partials/footer') %>

